* {
  box-sizing: border-box;
  font-size:20px;
}

/* Create two unequal columns that floats next to each other */


.row {
  display: flex;
}

.column {
  padding: 10px;
}


.left {
  width: 25%;
  min-width:250px;
}

.right {
  width: 75%;
  min-width:1000px;
  padding-left:50px;
}


/* Clear floats after the columns */


#personal-picture {
	margin-top: 100px;
	border-radius: 150px;
}

.social-logo-page {
	height:35px;
	width:35px;
}

.code-logo-page {
	height:50px;
	width:50px;
}

.code-logo-rectangular {
	height:50px;
	width:80px;
}


.body-text {
	font-size:20px;
}

.title-body
{
	font-size:24px;
}

.padded-element {
	padding:10px;
	font-size:20px;
}

.bold {
	font-weight:bold;
}

.language-level {
	font-size:28px;
	padding-left:1em;
	top:-15px;
	position:relative;
}


.language-logo {
	height: 35px;
	width:60px;
	border-radius:5px;
	margin:10px;
}

.project-container {
	border-style: solid;
	border-color: #5F9EA0;
	border-width: 2px;
	min-height: 500px;
	width: 400px;
}

.project-title {
	font-size: 24px;
	font-weight: bold;
}

.project-title-background {
	background-color: rgba(86, 157, 158, 0.8);

}

.project-image{
	height:190px;
	width:390px;
}

.project-image-square{
	height:190px;
	width:190px;
}

.project-text {
	padding:15px;
}

.menu-element {
	font-size:26px;
	color:gray;
}