* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */


.row {
  display: flex;
}

.column {
  padding: 10px;
}


.left {
  width: 25%;
  min-width:250px;
}

.right {
  width: 75%;
  min-width:400px;
}


/* Clear floats after the columns */


#personal-picture {
	margin-top: 100px;
	border-radius: 150px;
}

.social-logo-page {
	height:35px;
	width:35px;
}

#about-text {
	font-size:20px;
}
