* {
  box-sizing: border-box;
  font-size:20px;
}

/* Create two unequal columns that floats next to each other */


.row {
  display: flex;
}

.column {
  padding: 10px;
}


.left {
  width: 25%;
  min-width:250px;
  margin-left: 50px;
  
  
}

.right {
  width: 75%;
  min-width:1000px;
  padding-left:50px;
  margin-left: 120px;
  margin-right: 200px;
  background-color: white;
  margin-top: 300px;
  opacity: 1;
}


/* Clear floats after the columns */


#personal-picture {
	margin-top: 100px;
	border-radius: 150px;
	margin-left: 13px;
	margin-bottom: 20px;
}

.black-border-tiny {
	border: 1px solid black;
}

.social-logo-page {
	height:35px;
	width:35px;
}

.code-logo-page {
	height:50px;
	width:50px;
}

.code-logo-rectangular {
	height:50px;
	width:80px;
}


.body-text {
	font-size:20px;
}

.title-body
{
	font-size:24px;
}

.padded-element {
	padding:10px;
	font-size:20px;
}

.bold {
	font-weight:bold;
}

.language-level {
	font-size:28px;
	padding-left:1em;
	top:-5px;
	position:relative;
}


.language-logo {
	height: 35px;
	width:60px;
	border-radius:5px;
	margin:10px;
}


.project-title {
	font-size: 24px;
	font-weight: bold;
}

.project-title-background {
	background-color: rgba(86, 157, 158, 0.8);

}

.project-image{
	height:190px;
	width:390px;
}

.project-image-square{
	height:190px;
	width:190px;
}

.project-image-siag { 
	height: 190px;
	width: 260px;
}

.project-image-pharmaq {
	height: 190px;
	width: 295px;
}

.project-text {
	padding:15px;
}

.lecture {
	padding: 8px;
}

.a-url {
	color:blue !important;
}
.a-url:visited {
	color: purple !important;
  }

.a-sidebar-menu-item {
	color:black !important;
	font-weight: bold;
}

.ul-format-custom {
	padding-left:35px;
}

body {
	background-image: url("./imgs/mountain_background.JPG");
	background-repeat: no-repeat;
	background-color: #8498BF;	
}

.white-background-header {
  background-color: white;
  width: 320px;
	
}

.footer {
  background-color: white;	
}

#about {
	padding-top: 30px;
}

#work-experience {
	margin-top: 20px;
}


.sidebar-box-ele {
	border: 1px solid black;
}

.container-black-bottom-line {
	display: inline-block;
  	padding-right: 10px; /* Make the line longer by this amount of pixels */
	margin-top: 15px;
	margin-bottom: 15px;
	border-bottom: 2px solid black;
}

.landing-page-title {
	margin-top: 15px;
	margin-bottom: 10px;
}

.job-bullet-points {
	margin-left: 15px;
}

.job-date {
	color:#5A5A5A;
}

.project-container-large {
	border-style: solid;
	border-color: #5F9EA0;
	border-width: 2px;
	height: 700px;
	width: 400px;
	position: relative;

}

.project-container-small {
	border-style: solid;
	border-color: #5F9EA0;
	border-width: 2px;
	height: 600px;
	width: 400px;
	position: relative;

}

.project-image-container {
	white-space: nowrap;
	position: absolute;
	width: 100%;
	bottom: 25px; /* Aligns the div to the bottom */
	display: flex;
	justify-content: center;
}
.project-image-container a img{
	display:inline-block;
	display: inline-block; /* Displays images in a line */
	max-width: 100%; /* Ensures images don't exceed container width */
	height: auto; /* Maintains aspect ratio */

}